<h1 class="my-5">Movies</h1>

<h5 class="text-danger">There are <%= @movies.count %> movies</h5>

<div class="my-5 row">
    <% @movies.each do |movie| %>
        <div class="mb-5 col">
            <div class="card">
                <h5>Name: <%= movie.name %></h5>
                <h5>Synopsis: <%= movie.synopsis %></h5>
                <p>Director: <%= movie.director %></p>
            </div>
        </div>
    <% end %>
</div>

<div class="my-3">
    <%= link_to "Add another movie", movies_new_path, class:"btn btn-secondary" %>
</div>